<!-- 页脚 -->
<div class="footer">
  <div class="links"> {yun:content do="category" catid="1" num="15" order="listorder ASC"}
    {loop $data $r} <a href="{$r[url]}" target="_blank">{$r[catname]}</a> |  
    {/loop}
    {/yun} <a href="{SITE_URL}index.php?app=link" target="_blank">友情链接</a> </div>
  版权所有 &copy; 云端漫步有限公司 All Rrights Reserved.
  <div class="poweredby"> <span style="font-size:11px;font-family:Verdana"> Powered by <a href="http://www.yuncms.net" target="_blank"><strong><u>YUNCMS</u></strong></a> 2012 </span> </div>
</div>
</body></html>