{template 'search', 'header'}
</head>
<body>
<div class="so-top">
  <div class="bd"><!-- {yun:content do="category" catid="0" num="25" order="listorder ASC"} START:顶部导航栏目 --> 
    <a href="{SITE_URL}">首页</a>{loop $data $r} <a href="{$r[url]}">{$r[catname]}</a>{/loop}<!-- {/yun} END:顶部导航栏目 --> 
  </div>
  <span class="mask"></span> </div>
<h1 class="so-logo"><img src="{SKIN_PATH}default/images/search/so_logo.gif" alt="搜索" /></h1>
<div class="so-main">
  <form name="search" type="get">
    <input type="hidden" name="app" value="search"/>
    <input type="hidden" name="controller" value="index"/>
    <input type="hidden" name="action" value="init"/>
    <input type="hidden" name="typeid" value="{$typeid}" id="typeid"/>
    <div class="so-tab" id="search"> {php $j=0}
      {loop $search_model $k=>$v}
      {php $j++;} <a href="javascript:;" onClick="setmodel({$v['typeid']}, $(this));" {if $j==1 || $typeid == $v['typeid']} class="on" {/if}>{$v['name']}</a> {/loop}
      {php unset($j);} </div>
    <div class="so-input-ct">
      <input type="text" name="q" id="q" class="so-key" value="">
      <input type="submit" class="so-submit" value="" onMouseOver="setCls(this,'so-submit-over');" onMouseOut="setCls(this,'so-submit-over',1);setCls(this,'so-submit-click',1);" onMouseDown="setCls(this,'so-submit-click');" onMouseUp="setCls(this,'so-submit-click',1);">
    </div>
    <div id="sr_infos" class="sr_infoul"> </div>
  </form>
</div>
{if $setting['suggestenable']} 
<script type="text/javascript" src="{JS_PATH}jquery.suggest.js"></script> 
<script type="text/javascript" src="{JS_PATH}search_suggest.js"></script> 
{/if}
{template 'search', 'footer'}
