<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>YUNCMS - {L('member','','member').L('manage_center')}</title>
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}member.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{JS_PATH}member_common.js"></script>
{if isset($show_validator)}
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
{/if}
<script language="javascript" type="text/javascript"
    src="{JS_PATH}artDialog4/jquery.artDialog.js?skin=default"></script>
<script language="javascript" type="text/javascript"
    src="{JS_PATH}artDialog4/plugins/iframeTools.js"></script>
</head>
<body>
<div id="header">
	<div class="logo"><a href="{U('member')}"><img src="{IMG_PATH}member-logo.png"  /></a><h3>{L('member_center')}</h3></div>
    <div class="link">{L('hellow')} {get_nickname()}<span> | </span>
	<a href="{U('member/passport/logout')}">{L('logout')}</a>
	<span> | </span><a href="{SITE_URL}">{L('index')}</a> </div>
	<div class="nav-bar">
    	<map>
        	<ul class="nav-site cu-span">
        	{php $menu = Loader::model('member_menu_model')->select(array('display'=>1, 'parentid'=>0), '*', 20 , 'listorder');}
				{loop $menu $k $v}
				<li>
					{if $v['isurl']}
						<a href="{$v['url']}" target="_blank"><span>{L($v['name'], '', 'member_menu')}</span></a>
					{else}
						<a href="index.php?app={$v['application']}&controller={$v['controller']}&action={$v['action']}&{$v['data']}" {if isset($_GET['t']) && $k==$_GET['t']}class="on"{/if}><span>{L($v['name'], '', 'member_menu')}</span></a>
					{/if}
					</li>
					<li class="line">|</li>
				{/loop}
            </ul>
        </map>
    </div>
</div>