{if $_username}
<div>
<em>{L('hellow')} {get_nickname()}</em>
<span>，<a href="{SITE_URL}index.php?app=member&controller=index&action=init&t=0" >{L('member_center')}</a>|<a href="{SITE_URL}index.php?app=member&controller=passport&action=logout&forward={urlencode(HTTP_REFERER)}" target="_top">退出</a> <a href="{SITE_URL}index.php?app=content&controller=rss"><img src="{IMG_PATH}icon/rss1.gif" class="top-rss" /></a></span>
</div>
{else}
<div>
<em></em>
<span><a href="{SITE_URL}index.php?app=member&controller=passport&action=login" target="_top">登录</a>|<a href="{SITE_URL}index.php?app=member&controller=passport&action=register" target="_top">注册</a><a href="{SITE_URL}index.php?app=content&controller=rss"><img src="{IMG_PATH}icon/rss1.gif" class="top-rss" /></a></span>
</div>
{/if}