<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="shortcut icon" type="image/ico" href="{SITE_URL}favicon.ico">
<link href="{SKIN_PATH}default/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{SKIN_PATH}default/css/index.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{SKIN_PATH}default/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<script type="text/javascript" src="{JS_PATH}jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
</head>
<body>
{template "system","header_channel"}
<div class="hr-h10"></div>
<div class="menu-cir nosubmenu">
  <div class="menu-cir-main">
    <div class="mode-menu"> {yun:content do="category" catid="0" num="25" order="listorder ASC"}
      <ul id="common-menu">
        <li id="nav-cur"><a href="{SITE_URL}" target="_self">首页</a></li>
        {loop $data $r}
        <li><a href="{$r[url]}" target="_self">{$r[catname]}</a></li>
        {/loop}
      </ul>
      {/yun} </div>
  </div>
  <div class="menu-cir-l"></div>
  <div class="menu-cir-r"></div>
</div>
</div>
<!-- *************************** end LOGO + 导航 ************************ -->
<div class="column hr-h10" style="background-color:#fff;"></div>
<!-- *************************** start 主体 ************************ -->
<div class="column white">
  <div class="col-l-main w-740">
    <div class="hr"></div>
    <div class="col-r w-400">
      <div class="bigNews-head line-h34">
        <h2 class="comm-txtHide">今日要闻</h2>
      </div>
      <div class="b-hr"></div>
      <div class="mode-bigNews"> 
        <!--{yun:content do="position" posid="2" order="listorder DESC"  num="1" }今日要闻 start-->
        <h2>{loop $data $n $r} <a href="{$r['url']}" target="_blank" class="cor-c00 bold" title="{$r['title']}">{$r['title']}</a> {/loop}</h2>
        <!--{/yun}今日头条 end--> 
      </div>
      <div class="hr-h6"></div>
      <!--{yun:content do="position" posid="3" order="listorder DESC"  num="2" }今日头条2 start-->{loop $data $n $r}
      <ul class="mode-txtlink line-h20">
        <li><a style="margin-right:8px;" href="{$r['url']}">{$r['title']}</a></li>
      </ul>
      {/loop}<!--{/yun}今日头条2 end-->
      <div class="hr-dotted hr-h10 mar-t-10"></div>
      <div class="hr-h6"></div>
      <!--{yun:content do="position" posid="4" order="listorder DESC"  num="15" }首页推荐 start-->
      <ul class="mode-txtlink tj-i fs-14 cor-06c">
        {loop $data $k $r}
        <li></li>
        <a href="{$r['url']}" target="_blank" title="{$r['title']}">{$r['title']}</a>
        </li>
        {if $n>0 && $n%5==0}
        <li class="hr-h10"></li>
        {/if}
        {/loop}
      </ul>
      <!--{/yun}首页推荐 end--> 
    </div>
    <div class="col-l w-320">
      <div class="image-case">
        <div class="FocusPic">
          <div class="content" id="main-slide"> 
            <!--{yun:content do="position" posid="1"  thumb="1" order="listorder DESC"  num="5" }首页幻灯 start-->
            <div class="changeDiv">{loop $data $n $r} <a href="{$r['url']}" title="{$r['title']}"><img src="{$r['thumb']}" alt="{$r['title']}" width="320" height="240" /></a> {/loop}</div>
            <!--{/yun}首页幻灯 end--> 
          </div>
        </div>
        <!--首页幻灯片 -->
        <div class="hr-h10"></div>
        <div class="lnk-list bor-9fc">
          <div class="mode-head">
            <h2 class="cor-c00">专题</h2>
            <a href="{SITE_URL}index.php?app=special&controller=index&action=special" class="more">更多</a> </div>
          <div class="mar-lr-10 padd-tb-8">
            <div class="mode-imgtxtsummary" style="padding: 0;">
              <ul>
                <li>
                  <div class="imgtxt" style="margin-bottom:10px;"><a href="http://news.cmstop.net/2010/1202/726.shtml"><img class="imgcss3" src="http://upload.cmstop.net/2010/1207/thumb_64_64_1291696850841.jpg" width="64" height="64" alt="外交部:中国希望伊朗核问题尽早重回谈判轨道" /></a></div>
                  <h3 class="summary-h3 spe-h3" style="height: auto;"><a href="http://news.cmstop.net/2010/1202/726.shtml" target="_blank" class="cor-06c bold">外交部:中国希望伊朗核问题尽早重</a></h3>
                  <p class="summary-no2em" style="height:auto;">你觉得谈判有用吗？那还要警察做什么！要武器做什么？是男人用拳头说话。</p>
                </li>
              </ul>
              <!--专栏头条--> 
            </div>
            <ul class="mode-txtlink cor-06c">
              <li> <a href="http://www.cmstop.net/trade/2010/1129/133.shtml" target="_blank">限制级影片《冰冷热带鱼》 曝神秘悬疑海报</a> </li>
              <li> <a href="http://news.cmstop.loc/2010/1112/306.shtml" target="_blank">基础控件和交互设计元素的层级</a> </li>
              <li> <a href="http://www.cmstop.loc/trade/2010/1103/267.shtml" target="_blank">10月26日零时起提高航空煤油出厂价格</a> </li>
              <li> <a href="http://www.cmstop.net/trade/2010/1129/129.shtml" target="_blank">王菲香港血拼 名店狂扫两大袋(图)</a> </li>
              <li> <a href="http://news.cmstop.net/2010/1202/731.shtml" target="_blank">百岁日本老兵济南行医赎罪70年 遗体无偿捐献</a> </li>
            </ul>
            <!--专栏-推荐--> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-r-extra w-210 ie6">
    <div class="bor-9fc">
      <div class="mode-head">
        <h2 class="cor-06c">今日天气</h2>
      </div>
      <iframe src="http://m.weather.com.cn/m/pn12/weather.htm "  style="margin-left:15px;" width="200" height="100" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="hr-h6"></div>
    <!-- 首页文字链 -->
    <div class="bor-9fc">
      <div class="mode-head">
        <h2 class="cor-06c">信息推荐</h2>
      </div>
      <div class="m-picTxt padd-8">
        <ul class="mode-txtlink line-h22 tjlink-index">
          <li><a href="">首页文字链</a></li>
          <li><a href="">首页文字链</a></li>
          <li><a href="">首页文字链</a></li>
          <li><a href="">首页文字链</a></li>
          <li><a href="">首页文字链</a></li>
          <li><a href="">温家宝总理出席乌兰巴托牌仪式 </a></li>
          <li><a href="">周永康:援疆工作队要队宣传用 </a></li>
          <li><a href="">商务部：擦第一目标国” </a></li>
        </ul>
      </div>
    </div>
    <!-- 首页文字链 -->
    <div class="hr-h6"></div>
    <div class="txt-c" style="height:70px;"> 
      <script language="javascript" src="{SITE_URL}index.php?app=poster&controller=index&action=show_poster&id=3"></script><!--右侧 banner1 --> 
    </div>
  </div>
  <div class="clear"></div>
</div>
<!-- *************************** end 主体   ************************ -->
<div class="hr-h10"></div>
<div class="column bor-gray" style="height:80px;"> 
  <script language="javascript" src="{SITE_URL}index.php?app=poster&controller=index&action=show_poster&id=5"></script><!--首页通栏banner --> 
</div>
<div class="hr-h10"></div>
<div class="column">
  <div class="col-l-main w-720"> 
    <!--  {yun:content do="position" posid="5" thumb="1" order="listorder DESC" num="4"} 绑定推荐位的 start 图片速读-->
    <div>
      <div style="border-top: 3px solid rgb(0, 0, 0);"></div>
      <div style="border-bottom: 1px solid rgb(221, 221, 221);" class="mode-imgtitle">
        <h2 class="mode-fastimg">图片速读</h2>
      </div>
      <div class="mode-imgtxt">
        <ul class="per-25">
          {loop $data $r}
          <li> <a href="{$r[url]}"><img src="{thumb($r[thumb],160,120)}" width="160" height="120" alt="{$r[title]}"/></a>
            <p class="fix-h36"><a href="{$r[url]}">{str_cut($r[title],36,'')}</a></p>
          </li>
          {/loop}
        </ul>
      </div>
    </div>
    <!--  {/yun}end 图片速读-->
    <div>
      <div style="padding-top: 0pt;"> 
        <!-- start pictxt-wrap -->
        <ul class="pictxt-wrap">
          {loop subcat(0,0,0) $r}
          {php $num++}
          <li class="pictxt-list bor-gray f-l">
            <div class="mode-head-2">
              <h2 class="cor-c00">{$r[catname]}</h2>
              <a href="{$r[url]}" class="more">更多</a> </div>
            <div class="hr-h10"></div>
            <div class="mode-imgtxtsummary"> {yun:content  do="lists" catid="$r[catid]" order="updatetime DESC" thumb="1" num="1" return="info"}
              <ul>
                {loop $info $v}
                <li>
                  <div class="imgtxt"><a href="{$v['url']}"><img src="{thumb($v[thumb],72,72)}" width="72" height="72" alt="{$v['title']}"></a></div>
                  <h3 class="summary-h3"><a href="{$v['url']}" class="cor-06c fs-14 bold" {title_style($v[style])}>{str_cut($v['title'],42,'')}</a></h3>
                  <p class="summary-no2em">{str_cut($v['description'],120)}</p>
                </li>
                {/loop}
              </ul>
              {/yun} </div>
            <div class="hr-h10"></div>
            {yun:content do="lists" catid="$r[catid]" num="8" order="id DESC" return="info"}
            <ul class="mode-txtlink fs-14 cor-06c">
              {loop $info $v}
              <li><a href="{$v['url']}" title="{$v['title']}"{title_style($v[style])}>{str_cut($v['title'],60)}</a></li>
              {/loop}
            </ul>
            {/yun} </li>
          {/loop}
        </ul>
        <!-- end pictxt-wrap --> 
      </div>
    </div>
  </div>
  <div class="col-r-extra w-230"> 
    <!-- start 订阅-->
    <div >
      <div > 
        <!--以下是QQ邮件列表订阅嵌入代码--><script >var nId = "444a9b4855d69fa8db097714fbd81f47900bd761e70418f9",nWidth="auto",sColor="light",sText="填写您的邮件地址，订阅我们的精彩内容：" ;</script><script src="http://list.qq.com/zh_CN/htmledition/js/qf/page/qfcode.js" charset="gb18030"></script> 
      </div>
    </div>
    <!-- end  订阅 -->
    
    <div class="hr-h10"></div>
    <div> 
      <script language="javascript" src="{SITE_URL}index.php?app=poster&controller=index&action=show_poster&id=4"></script><!--右侧 banner2 --> 
    </div>
    
    <!-- start 首页投票 -->
    <div class="hr-h10"></div>
    <div class="paper-survery-online bor-9fc">
      <div class="mode-vote padd-t-0 padd-b-0"> 
        <script language="javascript" src="{SITE_URL}index.php?app=vote&controller=index&action=show&do=js&subjectid=1&type=3"></script><!--首页投票 --> 
      </div>
    </div>
    <!-- end 首页投票 -->
    
    <div class="hr-h10"></div>
    <div class="bor-9fc">
      <div class="mode-tabs padd-r-0">
        <h2 class="cor-c00">排行榜</h2>
        <ul class="fs-12 f-r" id="tab-title-4">
          <li><a class="tabs-focus">热点</a></li>
          <li><a>评论</a></li>
          <li><a>关注</a></li>
        </ul>
      </div>
      <div class="padd-tb-8" id="tab-cont-4">
        <div class="hot-subject-wrap"> 
          <!--{yun:content do="hits" catid="6" num="10" order="views DESC"}热点开始-->
          <ul>
            {loop $data $r}
            <li> <span>{$r[views]}</span>
              <p><a href="{$r[url]}" {title_style($r[style])}>{$r[title]}</a></p>
              <div class="hr-dotted hr-h6 hot-subject-hr"></div>
            </li>
            {/loop}
          </ul>
          <!--{/yun}热点结束--> 
        </div>
        <!--{yun:comment do="bang" num="10" cache="3600"}评论开始-->
        <div style="display: none;" class="hot-subject-wrap">
          <ul>
            {loop $data $r}
            <li> <span>{$r[total]}</span>
              <p><a href="{$r[url]}">{$r[title]}</a></p>
              <div class="hr-dotted hr-h6 hot-subject-hr"></div>
            </li>
            {/loop}
          </ul>
        </div>
        <!--{/yun}评论结束--> 
        <!--{yun:digg do="bang" num="10" order="supports DESC"}关注开始-->
        <div style="display: none;" class="hot-subject-wrap">
          <ul>
            {loop $data $r}
            <li> <span>{$r[supports]}</span>
              <p><a href="{$r[url]}">{$r[title]}</a></p>
              <div class="hr-dotted hr-h6 hot-subject-hr"></div>
            </li>
            {/loop}
          </ul>
        </div>
        <!--{/yun}关注结束--> 
      </div>
    </div>
    <div class="hr-h6"></div>
    <!--{yun:announce  do="lists" num="3"}公告开始 -->
    <div class="bor-9fc">
      <div class="mode-head">
        <h2 class="cor-06c">讯腾动态</h2>
      </div>
      <div class="m-picTxt padd-8">
        <ul class="mode-txtlink line-h22 tjlink-index">
          {loop $data $r}
          <li><a href="{SITE_URL}index.php?app=announce&controller=index&action=show&aid={$r['aid']}">{str_cut($r['title'],45)}</a></li>
          {/loop}
        </ul>
      </div>
    </div>
    <!--{/yun}公告结束--> 
  </div>
</div>
<div class="clear"></div>
<div class="hr-h10"></div>
<div class="column out-links">
  <div> 
    <!--{yun:link do="type_list" order="listorder DESC"  num="18" }文字连接 start-->
    <ul class="bor-gray">
      {loop $data $n $r}
      <li><a href="{$r['url']}" title="{$r['name']}" target="_blank">{$r['name']}</a></li>
      {/loop}
    </ul>
    <!--{/yun}文字连接 end-->
    <ul class="bor-gray">
      <!--{yun:link do="type_list" linktype="1" order="listorder DESC"  num="10" }图片连接 start-->{loop $data $n $r}
      <li><a href="{$r['url']}" title="{$r['name']}" target="_blank"><img src="{$r['logo']}"  alt="{$r['name']}" title="{$r['name']}" width="88" height="31"/></a></li>
      {/loop}
    </ul>
    <!--{/yun}图片连接 end-->
    </ul>
  </div>
</div>
<script type="text/javascript"> 
$(function(){
	new slide("#main-slide","cur",320,240,1);//焦点图
	new SwapTab("#tab-title-4","a","#tab-cont-4","div","tabs-focus");//排行TAB
})
</script> 
{template "system","footer"}
</body>
</html>