<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="shortcut icon" type="image/ico" href="{SITE_URL}favicon.ico">
<link href="{SKIN_PATH}default/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{SKIN_PATH}default/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<script type="text/javascript" src="{JS_PATH}jquery-1.4.2.min.js"></script>
</head>
<body class="sitemap">
<header>
  <div class="column sitemap-top-nav">
    <h1 class="f-l mar-l-10"><a href="/"><img src="{SKIN_PATH}image/sitemap-logo.jpg" alt="xtcms" /></a></h1>
    <span class="f-l site-top-nav"> <a href="{SITE_URL}" target="_self">首页</a> {yun:content do="category" catid="0" num="25" order="listorder ASC"}
    {loop $data $r} <a href="{$r[url]}" target="_self">{$r[catname]}</a> {/loop}
    {/yun} </span> </div>
</header>
<div class="sitemap-main">
  <div class="column sitemap-wrap">
    <div class="sitemap-menu">
      <ul>
        {loop $arrchild_arr $cid}<li{if $catid==$cid} class="site-current"{/if}><a href="{$CATEGORYS[$cid][url]}">{$CATEGORYS[$cid][catname]}</a>
        </li>
        {/loop}
      </ul>
    </div>
    <div class="site-cont-wrap">
      <h2 class="site-title w-720">{$title}</h2>
      <div class="hr-10"></div>
      <article>{$content}</article>
    </div>
  </div>
</div>
{template "system","footer"}
</body>
</html>