<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{SKIN_PATH}default/css/style.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<link href="{SKIN_PATH}default/css/content.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<!--[if IE 6]> 
<link href="{SKIN_PATH}css/ie6.css" type="text/css" rel="stylesheet" rev="stylesheet" media="screen"  />
<![endif]-->
<script type="text/javascript" src="{JS_PATH}jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}cookie.js"></script>
</head>
<body>
<!-- ******************* start header   *********************** --> 
{template "system","header"} 
<!-- *******************  end header   *********************** -->
<div class="hr-h10"></div>
<!-- *******************  start banner   *********************** -->
<div class="column ad-area-1">
  <div class="col-l-main"><script language="javascript" src="{SITE_URL}cache/poster_js/6.js"></script><!--内容页顶部banner1 --></div>
  <div class="col-r-extra"><script language="javascript" src="{SITE_URL}cache/poster_js/7.js"></script><!--内容页顶部banner2 --></div>
</div>
<!-- *******************  end banner   *********************** -->
<div class="hr-h10"></div>
<!-- *******************  start pos and search  *********************** -->
<div class="column" style="height: 22px; overflow: hidden; zoom: 1;">
  <div class="mode-position f-l w-650"><span><a href="{SITE_URL}">首页</a> > {catpos($catid)}</span>正文</div>
  <div class="f-r">
    <form name="search" id="search" method="GET" action="{APP_URL}{U('search/index/search')}">
      <input type="hidden" name="app" value="search"/>
      <input type="hidden" name="controller" value="index"/>
      <input type="hidden" name="action" value="search"/>
      <input type="hidden" name="type" value="all"/>
      <p class="mode-sear">
        <input type="input" onfocus="this.value=(this.value=='全文检索')?'':this.value" onblur="this.value=(this.value=='')?'全文检索':this.value" name="wd" value="全文检索" class="sear-box" />
        <input type="submit" value="检索" class="sear-btn f-r" title="去搜索" />
      </p>
    </form>
  </div>
</div>
<!-- *******************  end pos and search   *********************** -->
<div class="hr-h6"></div>
<!-- *******************  start box   *********************** -->
<div class="column">
  <div class="col-l-main w-650">
    <div class="cont-wrap-top"></div>
    <!-- *******************  start 内容区   *********************** -->
    <div class="content-wrap bor-9fc padd-20">
      <h1>{$title}</h1>
      <div class="arti-atttibute"> <span class="f-r">字号:<em id="sfont" title="切换到小字号" onclick="changeFont(this)" class="f-small cor-current">小</em><em id="bfont" title="切换到大字号" onclick="changeFont(this)" class="f-big">大</em></span> <span class="post-time">{$inputtime}</span> 
        <!--{if $copyfrom}--><span>来源：{$copyfrom}</span><!--{/if}--> 
        <span>评论：<a href="#comment_iframe" id="comment">0</a></span> <span>点击：<span id="hits"></span></span> </div>
      {if $description}
      <p class="cont-summary" id="ctrlfssummary">核心提示：{$description}</p>
      {/if}
      <div class="cont-detail fs-small" id="ctrlfscont"> {if $allow_visitor==1}
        {$content}<!--内容关联投票--> 
        {if $voteid} 
        <script language="javascript" src="{SITE_URL}index.php?app=vote&controller=index&action=show&do=js&subjectid={$voteid}&type=2"></script> 
        {/if}
        {else}
        <CENTER>
          <a href="{SITE_URL}index.php?app=content&controller=readpoint&allow_visitor={$allow_visitor}"><font color="red">阅读此信息需要您支付 <B><I>{$readpoint} {if $paytype}元{else}点{/if}</I></B>，点击这里支付</font></a>
        </CENTER>
        {/if} </div>
      {if $titles}
      <div class="bor-ccc">
        <div class="mode-head diy-head-a">
          <h2 class="cor-c00">本文导航</h2>
        </div>
        <div class="clear"></div>
        <div class="mode-txtlink cor-06c nav-txtlist">
          <ol>
            {loop $titles $r}
            <li><span>{$k}.</span><a href="{$r[url]}">{$r[title]}</a></li>
            {/loop}
          </ol>
        </div>
      </div>
      {/if}
      
      {if $pages}
      <div class="hr-h10"></div>
      <div id="pages" class="text-c">{$pages}</div>
      {/if}
      <div class="hr-h10"></div>
      {if $keywords}
      <p class="txt-l f-l fs-12 art-tags">Tags：
        {loop $keywords $keyword} <a href="{SITE_URL}index.php?app=content&controller=tag&catid={$catid}&tag={urlencode($keyword)}" class="blue">{$keyword}</a> {/loop} </p>
      {/if}
      
      {if $username}
      <p class="txt-r f-r fs-12 cor-999">责任编辑：{$username}</p>
      {/if}
      <div class="hr-h10"></div>
      <p  class="txt-l f-l fs-12"> <strong>上一篇：</strong><a href="{$previous_page[url]}">{$previous_page[title]}</a><br />
        <strong>下一篇：</strong><a href="{$next_page[url]}">{$next_page[title]}</a> </p>
      <div class="hr-h10"></div>
      
      <!--- start related ---> 
      {yun:content do="relation" relation="$relation" id="$id" catid="$catid" num="5" keywords="$rs[keywords]"}
      {if $data}
      <div class="arti-rel" style="display:none;">
        <div class="fs-14 bold mar-l-10 cor-666">延伸阅读：</div>
        <div class="mode-txtlink fs-14 cor-06c">
          <ul>
            {loop $data $r}
            <li><a href="{$r[url]}" target="_blank">{$r[title]}</a><span class="date">{date('Y-m-d',$r[inputtime])}</span></li>
            {/loop}
          </ul>
          <div class="hr-h6"></div>
        </div>
      </div>
      <style type="text/css">
.arti-rel {display:block !important;}
</style>
      {/if}
      {/yun} 
      <!--- end related --->
      
      <div class="hr-h10"></div>
      {if application_exists('mood')} 
      <script type="text/javascript" src="{SITE_URL}index.php?app=mood&controller=index&action=init&id={id_encode($catid,$id)}"></script>{/if}
      <div class="hr-h10"></div>
      <!--- start share --->
      <div> {if application_exists('digg')}
        <div class="digg f-l"> 
          <script type="text/javascript" src="{JS_PATH}digg.js"></script> 
          <a id="supports" href="javascript:digg.set('{id_encode($catid,$id)}',1)"><span>0</span><span>0%</span></a> <a id="againsts" href="javascript:digg.set('{id_encode($catid,$id)}',0)" class="againsts"><span>0</span><span>0%</span></a> </div>
        {/if}
        <div class="share-tool f-r"> <a href="javascript:;" onclick="copyToClipboard(window.location.href);return false">【复制网址】</a> <a href="{SITE_URL}index.php?app=content&controller=index&action=output&catid={$catid}&id={$id}">【打印】</a> <span>分享到 </span> </div>
        <!-- Baidu Button BEGIN -->
        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"> <a class="bds_qzone"></a> <a class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <span class="bds_more">更多</span> </div>
        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=119986" ></script> 
        <script type="text/javascript" id="bdshell_js"></script> 
        <script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script> 
        <!-- Baidu Button END --> 
      </div>
      <!--- end dig --->
      <div class="clear"></div>
    </div>
    <div class="hr-h10"></div>
    {if $allow_comment}<script type="text/javascript" src="{SITE_URL}index.php?app=comment&controller=index&action=init&commentid={id_encode("content_$catid",$id)}&js=1"></script>{/if} </div>
  <!-- *******************  start 右侧   *********************** -->
  <div class="col-r-extra w-300"> 
    <!-- {yun:content do="hits" catid="$catid" num="10" order="views DESC" cache="3600"}文章页：每日推荐 -->
    <div class="bor-9fc">
      <div class="mode-head">
        <h2 class="cor-c00">每日推荐</h2>
      </div>
      <div class="mode-txtlink line-h22 cor-4545">
        <ul style="margin-left: 8px;">
          {loop $data $r}
          <li><a href="{$r[url]}" target="_blank">{str_cut($r['title'],56,'')}</a></li>
          {/loop}
        </ul>
      </div>
    </div>
    <!--{/yun}文章页：每日推荐-->
    <div class="hr-h6"></div>
    <div class="ad-area-2"> 
      <script type="text/javascript"><!--
google_ad_client = "ca-pub-4097561432756544";
/* 300x250, 创建于 10-10-16 */
google_ad_slot = "7457118641";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script> 
      <script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><!--内容页右侧banner --> 
    </div>
    <div class="hr-h6"></div>
    <!--{yun:content do="lists" catid="$catid" order="id DESC" thumb="1" num="6"}文章页：焦点图片 start-->
    <div class="bor-9fc ie6">
      <div class="mode-head">
        <h2 class="cor-c00">焦点图片</h2>
      </div>
      <div class="mode-imgtxt">
        <ul class="per-50">
          {loop $data $n $r}
          <li><a href="{$r[url]}"><img height="90" width="120" src="{$r['thumb']}" alt="{$r['title']}" /></a>
            <p><a href="{$r[url]}">{str_cut($r['title'],56,'')}</a></p>
          </li>
          {/loop}
        </ul>
      </div>
    </div>
    <!--{/yun}文章页：焦点图片 end-->
    <div class="hr-h6"></div>
    <div class="bor-9fc">
      <div class="mode-tabs padd-r-0">
        <h2 class="cor-c00">排行榜</h2>
        <ul id="tab-title-1" class="fs-12 f-r">
          <li><a class="tabs-focus" >点击</a></li>
          <li><a>评论</a></li>
          <li><a>Digg</a></li>
        </ul>
      </div>
      <div id="tab-cont-1" class="padd-tb-8"> 
        <!--{yun:content do="hits" catid="$catid" num="10" order="views DESC"}热点开始-->
        <div class="mode-rank">
          <ol>
            {loop $data $r}
            <li><em {if $n<4}class="front"{/if}>{$n}</em><a href="{$r[url]}" {title_style($r[style])} title="{$r[title]}">{str_cut($r['title'],56,'')}</a></li>
            {/loop}
          </ol>
        </div>
        <!--{/yun}热点结束--> 
        <!--{yun:comment do="bang" num="10" cache="3600"}评论开始-->
        <div style="display: none;" class="mode-rank">
          <ol>
            {loop $data $r}
            <li><em {if $n<4}class="front"{/if}>{$n}</em><a href="{$r[url]}" {title_style($r[style])} title="{$r[title]}">{str_cut($r['title'],56,'')}</a></li>
            {/loop}
          </ol>
        </div>
        <!--{/yun}评论结束--> 
        <!--{yun:digg do="bang" num="10" order="supports DESC"}关注开始-->
        <div style="display: none;" class="mode-rank">
          <ol>
            {loop $data $r}
            <li><em {if $n<4}class="front"{/if}>{$n}</em><a href="{$r[url]}" {title_style($r[style])} title="{$r[title]}">{str_cut($r['title'],56,'')}</a></li>
            {/loop}
          </ol>
        </div>
        <!--{/yun}关注结束--> 
      </div>
    </div>
  </div>
  <script type="text/javascript"> 
$(function(){
	new SwapTab("#tab-title-1","a","#tab-cont-1","div","tabs-focus");//排行TAB
})
</script> 
  <!-- *******************  end 右侧   *********************** --> 
</div>
<!-- *******************  end box   *********************** -->

<div class="hr-h10"></div>
<script type="text/javascript">
$(function(){
	digg.get('{id_encode($catid,$id)}');
	content = $('#ctrlfscont').html();
	var font = getcookie('font');//根据cookie设置字体大小并初始化按钮
	if(font){
		$('#ctrlfssummary,#ctrlfscont').addClass(font);
		if(font == 'fs-big'){
		 	$('#bfont').addClass('cor-current');
			$('#sfont').removeClass('cor-current');
		}
	}
})
    function holdpic() {//控制内容区域的的图片大小并为过大的图片添加查看原图
        var options = {
            imageLoading: '{JS_PATH}/lightBox/lightbox-ico-loading.gif',
            imageBtnPrev: '{JS_PATH}/lightBox/lightbox-btn-prev.gif',
            imageBtnNext: '{JS_PATH}/lightBox/lightbox-btn-next.gif',
            imageBtnClose: '{JS_PATH}/lightBox/lightbox-btn-close.gif',
            imageBlank: '{JS_PATH}/lightBox/lightbox-blank.gif'
        };
        $('#ctrlfscont').find('img').each(function () {
            var img = this;
            if (img.width > 608) {
                img.style.width = '600px';
                $(img).removeAttr('height');
                var aTag = document.createElement('a');
                aTag.href = img.src;
                $(aTag).addClass('bPic')
			.insertAfter(img).append(img)
			.lightBox(options);
            }
        });
    }
    $(window).load(function () {
        holdpic();
    });
    function copyToClipboard(txt) {  //复制网址
        if (window.clipboardData) {
            window.clipboardData.clearData();
            window.clipboardData.setData("Text", txt);
            alert("复制链接成功！");
        } else if (navigator.userAgent.indexOf("Opera") != -1) {
            window.location = txt;
        } else if (window.netscape) {
            try {
                netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
            } catch (e) {
                alert(" 被浏览器拒绝！\n请在浏览器地址栏输入'about:config'并回车\n然后将 'signed.applets.codebase_principal_support'设置为'true'");
            }
            var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);
            if (!clip)
                return;
            var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);
            if (!trans)
                return;
            trans.addDataFlavor('text/unicode');
            var str = new Object();
            var len = new Object();
            var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);
            var copytext = txt;
            str.data = copytext;
            trans.setTransferData("text/unicode", str, copytext.length * 2);
            var clipid = Components.interfaces.nsIClipboard;
            if (!clip)
                return false;
            clip.setData(trans, null, clipid.kGlobalClipboard);
            alert("复制链接成功！");
        }
    }
    function changeFont(t) { //改变字号
        var tosmall = (t.innerHTML == '小') ? true : false;
        if (tosmall && $(t).hasClass('cor-current')) return;
        $('.cor-current').removeClass('cor-current');
        $(t).addClass('cor-current');
		setcookie('font', tosmall ? 'fs-small' : 'fs-big');
        $('#ctrlfssummary,#ctrlfscont').removeClass(tosmall ? 'fs-big' : 'fs-small').addClass(tosmall ? 'fs-small' : 'fs-big');
    }
</script> 
<script language="JavaScript" src="{SITE_URL}api.php?c=count&id={$id}&modelid={$modelid}"></script> 
{template "system","footer"}
</body>
</html>
